# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual envs
venv/
env/
.venv/
*.env

# Conda envs
*.yaml
*.yml

# Data and models
data/
models/
*.pth
*.pt
*.bin

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
